*{
    margin: 0;
    padding: 0;
    font-family: "Kozuka Mincho Pro";
    height: auto;
}

*::-webkit-scrollbar,::-webkit-scrollbar{
    display: none;
}
.container{
    height: 100%;
    overflow: scroll;
    background-color: #48345A;
}
h3{
    color: #48345A;
}
.content{
    height: auto;
    margin-top: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: white;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.header-content{
    height: 80px;
    width: 80%;
    margin-left: 10%;
}

.header-content img{
    float: left;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px gray;
    transform: translate(0px,20px);
}
.header-content p{
    transform: translate(0px,35px);
    float: right;
    font-size: 25px;
    color: #608488;
}

.addArticle{
    height: auto;
    width: 80%;
    margin-left: 10%;
}
.generate{
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-top: 15px;
}
.generate ion-icon{
    border-radius: 5px;
    margin-left: 110px;
    height: 20px;
    width: 20px;
}
.seriesName{
    border: solid 1px gray;
    border-radius: 15px;
    margin-top: 15px;
}
.pMargin{
    margin-top: 15px;
}

ion-searchbar{
    margin-top: 15px;
height: 36px;
}

.textFile{
    height: auto;
    border: solid 1px gray;
}

.insertImage{
    margin-top: 15px;
    background-color: white;
    margin-left: 130px;
    text-align: right;
    width: 45%;
    height: 25px;
    border: solid 1px gray;
    border-radius: 10px;
}

.changeFont{
    margin-top: 15px;
    height: 30px;
    border: solid 1px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.changeFont p{
    transform: translateY(4px);
}


.addTag{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.addTag p{
    transform: translate(0px, 7px);
    width: 50%;
}
.inputIcons{
    position: relative;
}
.inputIcons ion-input{
    float: right;
    border: solid 1px gray;
    height: 30px;
    width: 80%;
}
.inputIcons ion-icon{
    right: 5px;
    top: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
}
.TSS{
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    /* margin-left: 15px; */
    /* margin-top: 15px; */
    /* position: relative; */
    border-radius: 4px;
    color: #FFFF;

    .tag{
        width: 100%;
        height: fit-content;
        background-color: #FFFF;
        margin-top: 15px;
        position: relative;
        border-radius: 4px;
        color: #FFFF;

    
    p{
        text-align: center;
        position: relative;
        background-color: #6C9ABC;
        margin: 0.5rem;
        display: inline-block;
        height: 36px;
        text-align: center;
        margin: 5px 21px;
        border-radius: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        line-height: 36px;
        padding: 0 5px;
        
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 26px solid #6C9ABC;
            top: 9%;
        }
        }
    }
}
 



.footer-Article{

    height: 60px;
    margin-top: 35px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.footer-Article ion-button{
    width: 60%;
    height: 25px;
    margin-left: 43px;
    --background: #48345A;
}


