<ion-header>

</ion-header>

<ion-content>
  <div class="content">
    <div id="menu">
      <div id="hr1"></div>
      <div id="hr2"></div>
      <div id="hr3"></div>
    </div>
  </div>
  <div>
    <img class="logoJS" src="../assets/Image/logo_js_2.png">
  </div>
  <div class="form">
    <div id="titleform">
      <h3>Sign In</h3>
    </div>
    <div class="inputs">
      <ion-item>

        <ion-input class="custom-class" placeholder="User name"></ion-input>
      </ion-item>
      <ion-item>

        <ion-input class="custom-class" placeholder="Password" type="Password"></ion-input>
      </ion-item>
      <ion-button color="#48345A">
        <p id="submit">Submit</p>
      </ion-button>
    </div>
  </div>
  <div class="logoFGT">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-google"></ion-icon>
    <ion-icon name="logo-tumblr"></ion-icon>
  </div>
</ion-content>