<ion-header>
    <div class="header">
        <div class="topLeft">
            <div class="imageuser" [routerLink]="['/home-page']">
                <img src="../../assets/Image/sydney-opera-house.png" style=" width: 1rem;
                height: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);" />
            </div>
        </div>
        <div class="topRight ">
            <div class="icon ">
            </div>
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="container ">
        <div class="content ">
            <div class="titleArticle ">
                <div class="titleKey ">
                    <p style="color: #48345A; " *ngIf="article" style="text-transform: uppercase;">{{article.title}}</p>
                    <p style="margin-left: 130px; margin-top: 10px; font-size: 14px; " *ngIf="article">{{article.createdDate}}</p>
                </div>
                <div class="areaInfo ">
                    <div *ngIf="article">
                        <div [innerHTML]='article.content'>
                        </div>
                        <p>
                            <i class="far fa-thumbs-up" (click)="voteArticle()" *ngIf="article"></i> Like if you like it
                            <i class="far fa-thumbs-up" *ngIf="article == undefined">Like if you like it</i>
                        </p>
                    </div>
                </div>
                <div class="footOfArea ">
                    <p *ngIf="article"> <strong>{{article.voted}}</strong> Voted</p>
                    <p *ngIf="listComments">{{listComments.length}} Comment</p>
                </div>
                <div class="tag ">
                    <a>Tag: <i *ngIf="article"><span *ngFor="let tag of article.tags" [routerLink]="['/list-article-by-tag',tag]">{{tag}},</span></i></a>
                </div>
                <div class="relatedArticles ">
                    <h4>Bài viết nằm trong chuỗi series:</h4>
                    <div *ngIf="parentArticles">
                        <p *ngFor="let item of  parentArticles"><a [routerLink]="['/article',item.id]">{{item.title}}</a></p>
                    </div>
                </div>
                <div class="comment ">
                    <form #comment="ngForm" (ngSubmit)="addComment(comment)">
                        <ion-textarea placeholder="Comment here " name="commentValue" ngModel></ion-textarea>
                        <ion-button type="submit">Send</ion-button>
                    </form>
                </div>
                <div class="listComments ">
                    <h4>Bình luận</h4>
                    <div class="comments" *ngIf="listComments">
                        <ion-row *ngFor="let comment of listComments">
                            <ion-col size=4>
                                <img src="../assets/Image/author.png ">
                                <p><span><strong>{{comment.userName}}</strong></span></p>
                            </ion-col>
                            <ion-col size=8> {{comment.content}}.</ion-col>
                        </ion-row>
                    </div>
                </div>
                <div class="relatedArticles ">
                    <h4>Bài viết liên quan</h4>
                    <div *ngIf="listRelatedArticles">
                        <p *ngFor="let item of listRelatedArticles"><a [routerLink]="['/article',item.id]">{{item.title}}</a></p>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</ion-content>