* {
    margin: 0;
    padding: 0;
    font-family: "Kozuka Mincho Pro";
}

.header{
    background-color: #48345A;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.leftHeader{
    background-color: yellow;
    height: 100%;
    width: 25%;
}
.rightHeader{

    display: flex;
    flex-direction: row;
    height: 100%;
    width: 75%;
    color: white;
}