<ion-header>

</ion-header>

<ion-content>
  <div class="content">
    <div id="menu">
      <div id="hr1"></div>
      <div id="hr2"></div>
      <div id="hr3"></div>
    </div>
  </div>
  <div>
    <img class="logoJS" src="../assets/Image/logo_js_2.png">
  </div>

  <div class="profile">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h4>Profile</h4>
          <div class="imageuser">
            <img  src="../assets/Image/author.png">
          </div>
          <h5>Robert</h5>
          <p>Detail</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="textprofile">
      <p>this is profile text</p>
    </div>
  </div>
  <ion-icon class="icon" name="create-outline"></ion-icon>
</ion-content>