<ion-header>
  <div class="header">
    <div class="topLeft">
      <div class="imageuser">
        <img class="img" src="../assets/Image/author.png">
      </div>
    </div>
    <div class="topRight">
      <div class="icon">
        <p class="flex-item">Robert </p>
        <ion-input  class="flex-item"></ion-input>
        <ion-icon  class="flex-item" name="search-outline"></ion-icon>
        <ion-icon  class="flex-item"  name="menu-outline" ></ion-icon>
    </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <div class="profile">
          <div class="leftContent">
            <img class="flex-item" src="../assets/Image/author.png">
            <p class="flex-item"> Robert</p>
            <p class="flex-item" style="font-size: 12px;">Detail</p>
            <div class="textProfile flex-item">
              <p>this is text Profile</p>
            </div>
          </div>
          <div class="rightContent">
            <p>Top Articles</p>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>This is Text</p>
            </div>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>This is Text</p>
            </div>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>This is Text</p>
            </div>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>This is Text</p>
            </div>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>This is Text</p>
            </div>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>aba</p>
            </div>
            <div class="perArticle">
              <img src="../assets/Image/author.png">
              <p>This is Text</p>
            </div>
          </div>
          <p style="float: left; margin-top:10px;">1000 post | 3000 like</p>
          <p style="float: right; margin-top:10px;">See more</p>
      </div>

    </div>
  </div>

</ion-content>
<ion-footer>
  <a style="float: right; color: #545985;">Home</a>
</ion-footer>