
<ion-content>
  <div class="leftbar">
    <div class="imageuser">
      <img class="img" src="../assets/Image/author.png">
    </div>
    <div class="circle1"> </div>
    <div class="circle2"></div>
    <div class="circle3"></div>
  </div>

  <div class="topbar">
    <p>Robert</p>
    <ion-input ></ion-input>
    <ion-icon  name="search-outline" ></ion-icon>
    <ion-icon  name="menu-outline" ></ion-icon>
  </div>

  <div class="infouser">
    <img  src="../assets/Image/author.png">
    <span >Name:</span>
    <span >Id:</span>
    <ion-icon name="create-sharp"></ion-icon> 
  </div>
  <h4>Robert</h4>

  <div class="chart">
    <div class="infochart">
      <p>This is chart</p>
    </div>
    <h5>Total Article per Month</h5>
  </div>

  <ion-icon class="iconUp" name="caret-up-sharp"></ion-icon>

  <div class="father">
    <p class="titleFather">Total article per Month</p>
    <div class="manager">

      <div class="managerHeader"> 
        <p>Top post |</p>
        <p>Top reaction | </p>
        <p>Top vote</p>
      </div>

        <p id="topReaction">Top reaction articles</p>

      <div class="listTop">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img  src="../assets/Image/author.png" >
            </ion-col>

            <ion-col size="7">
                <p>by Rain</p>
                <span>25 comments</span>
                <span>10 voted</span>
            </ion-col>

            <ion-col size="2" id="count"> 
              <span>25 </span>
            </ion-col>
            <ion-col size="12"><p>JavaScript webhooks</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <img  src="../assets/Image/author.png" >
            </ion-col>

            <ion-col size="7">
                <p>by Rain</p>
                <span>25 comments</span>
                <span>10 voted</span>
            </ion-col>

            <ion-col size="2" id="count"> 
              <span> 25 </span>
            </ion-col>
            <ion-col size="12"><p>JavaScript webhooks</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <img  src="../assets/Image/author.png" >
            </ion-col>
            <ion-col size="7">
                <p>by Rain</p>
                <span>25 comments</span>
                <span>10 voted</span>
            </ion-col>

            <ion-col size="2" id="count"> 
              <span> 25 </span>
            </ion-col>
            <ion-col size="12"><p>JavaScript webhooks</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <img  src="../assets/Image/author.png" >
            </ion-col>

            <ion-col size="7">
              

                <p>by Rain</p>
                <span>25 comments</span>
                <span>10 voted</span>
            </ion-col>

            <ion-col size="2" id="count"> 
              <span> 25 </span>
            </ion-col>
            <ion-col size="12"><p>JavaScript webhooks</p></ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="pageNumber">
        <ion-button class="previous"> 1 </ion-button>
        <p>1/100</p>
        <ion-button class="next"> 2 </ion-button>
      </div>
      <div class="search">
        <ion-searchbar></ion-searchbar>
      </div>
    </div>
    <div class="convert">
      <span class="P">P</span>
      <hr>
      <span>U</span>
    </div>
  </div>
  <div class="addUser">
    <p>Add User</p>
    <ion-item>
      <ion-input class="custom-class" placeholder="User name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input class="custom-class" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="custom-class" type="Password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select>
        <ion-select-option value="U">User</ion-select-option>
        <ion-select-option value="A">Author</ion-select-option>
        <ion-select-option value="C">Co-Admin</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="gender">
      <label >Male</label>
      <input type="radio" name="gender"  value="male" />
      <input type="radio" name="gender" value="female" />
      <label >Female</label>
    </ion-item>
    <ion-button>Submit</ion-button>
  </div>
</ion-content>
<ion-footer>
 
</ion-footer>