<ion-header>

</ion-header>

<ion-content>
    <div class="content">
        <div id="menu">
            <div id="hr1"></div>
            <div id="hr2"></div>
            <div id="hr3"></div>
        </div>
    </div>
    <div>
        <img class="logo" src="../assets/Image/logo_js_2.png">
    </div>
    <div class="form">
        <div id="titleform">
            <h3>Sign Up</h3>
        </div>
        <div class="inputs">
            <form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
                <ion-item>
                    <ion-input class="custom-class" placeholder="Email" name="email" ngModel #email="ngModel" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input class="custom-class" type="Password" placeholder="Password" name="password" ngModel></ion-input>
                    <p></p>
                </ion-item>
                <ion-item>
                    <ion-input class="custom-class" type="Password" placeholder="Repassword" name="repassword" ngModel></ion-input>
                </ion-item>
                <div class="gender">
                    <label slot="start">Male</label>
                    <input type="radio" name="gender" ngModel value="male" />
                    <input type="radio" name="gender" ngModel value="female" />
                    <label slot="end">Female</label>
                </div>
                <ion-button color="#48345A" type="submit">
                    <p id="submit">Submit</p>
                </ion-button>
            </form>
        </div>
    </div>
</ion-content>