*{
    margin: 0;
    padding: 0;
}
ion-content{
    position: relative;
}
.content{
    height: 533.5px;
    width: 375px;
    background-color: rgb(94, 15, 90);
    position: absolute;
}
// 3 thanh ke ngang>>>>>>>>>>>>>>>>>>>>>>>>>>>
#hr1{
    background-color: rgb(243, 232, 232);
    width: 35px;
    height: 3px;
}
#hr2{
    background-color: rgb(243, 231, 231);
    width: 25px;
    height: 3px;
    margin-top: 3px;
}
#hr3{
    background-color: rgb(243, 233, 233);
    width: 15px;
    height: 3px;
    margin-top: 3px;
}
#menu{
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 35px;
}
// logo JS>>>>>>>>
.logo{
    position: absolute;
    z-index: 2;
    height: 15%;
    width: 50%;
    left: 170px;
    top: 30px;
    transform: rotate(15deg);
}
// Form tổng>>>>>>>>>>>
.form{
    background-color: white;
    position: absolute;
    z-index: 8;
    width: 400px;
    height: 380px;
    border-radius: 50%;
    top: 110px;
    left: 25px;
}
#titleform{
    font-family: "Kozuka Mincho Pro";
    position: absolute;
    top: 30px;
    left: 124px;
}
//cac input sign up
.inputs {
    position: absolute;
    z-index: 3;
    width: 50%;
    top: 60px;
    left: 55px;
}

// style of placeholder
 ion-input{ 
    &.custom-class {
        text-align: center;
        font-size: 13px;
        font-family: "Kozuka Mincho Pro";
    }
}


// button submit
ion-button{
    position: absolute;
    z-index: 1;
    background-color: #48345A;
    width: 30%;
    height: 13%;
    left: 70px;
    border-radius: 10%;
    border: none;
    top: 110%;
}
// text of submit button
#submit{
    font-family: "Kozuka Mincho Pro";
    font-size: 10px;
}
.gender {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
    label {
        font-family: 'Kozuka Mincho Pro';
        font-size: 13px;
        padding: 0 2.5px;
        color: #958e8e;
    }

    input {
        padding: 0 2.5px;
    }
}




