<ion-header>
  <div class="header">
    <div class="menu">
      <div class="hr1"></div>
      <div class="hr2"></div>
      <div class="hr3"></div>
    </div>
    <div class="tech">
      <ion-input placeholder="TECH" ></ion-input>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">
      <div class="content">
        <div class="article-title">
          <div class="article">
            <h4 class="flex-item">Article Title</h4>
            <div class="flex-item textFile">This is text Title</div>
            <div class="flex-item bottomLine">
              <p>15 vote, 50 comments</p>
              <ion-icon name="play-circle-outline"></ion-icon>
              <div class="img">
                <img src="../assets/Image/author.png">
              </div>
            </div>
          </div>
          <div class="article">
            <h4 class="flex-item">Article Title</h4>
            <div class="flex-item textFile">This is text Title</div>
            <div class="flex-item bottomLine">
              <p>15 vote, 50 comments</p>
              <ion-icon name="play-circle-outline"></ion-icon>
              <div class="img">
                <img src="../assets/Image/author.png">
              </div>
            </div>
          </div>
          <div class="article">
            <h4 class="flex-item">Article Title</h4>
            <div class="flex-item textFile">This is text Title</div>
            <div class="flex-item bottomLine">
              <p>15 vote, 50 comments</p>
              <ion-icon name="play-circle-outline"></ion-icon>
              <div class="img">
                <img src="../assets/Image/author.png">
              </div>
            </div>
          </div>
          <div class="article">
            <h4 class="flex-item">Article Title</h4>
            <div class="flex-item textFile">This is text Title</div>
            <div class="flex-item bottomLine">
              <p>15 vote, 50 comments</p>
              <ion-icon name="play-circle-outline"></ion-icon>
              <div class="img">
                <img src="../assets/Image/author.png">
              </div>
            </div>
          </div>
          <div class="page">
            <ion-button > 	&lsaquo; </ion-button>
            <p> 100/100</p>
            <ion-button> 	&rsaquo; </ion-button>
          </div>
        </div>
      </div>
  </div>
</ion-content>