<ion-header>
    <div class="header">
        <div class="menu">
            <div (click)="openMenu()" class="menuButton">
            </div>
        </div>
        <div class="tech">
            <ion-input placeholder="TECH"></ion-input>
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="top__menu" *ngIf="isMenuShown">
        <div *ngFor="let item of listCategory">
            <div (click)="getArticleByCate(item.id, 4)" class="listArticleByCate">
                {{item.name}}
                <ul *ngFor="let article of listArticleShowMenu">
                    <li (click)="navigateSpecificArticle(article.id)" *ngIf="article.cateID == item.id">{{article.title}}</li>
                    <li>
                        <a style="color: lightblue" *ngIf="article.cateID == item.id" (click)="moreArticle(item.id)">Xem thêm</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="article-title">
                <div class="article">
                    <h4 class="flex-item">Công nghệ: </h4>
                    <div class="flex-item textFile">This is text Title</div>
                    <div class="flex-item bottomLine">
                        <p>15 vote, 50 comments</p>
                        <ion-icon name="play-circle-outline"></ion-icon>
                        <div class="img">
                            <img src="../assets/Image/author.png">
                        </div>
                    </div>
                </div>
                <div class="article">
                    <h4 class="flex-item">Article Title</h4>
                    <div class="flex-item textFile">This is text Title</div>
                    <div class="flex-item bottomLine">
                        <p>15 vote, 50 comments</p>
                        <ion-icon name="play-circle-outline"></ion-icon>
                        <div class="img">
                            <img src="../assets/Image/author.png">
                        </div>
                    </div>
                </div>
                <div class="article">
                    <h4 class="flex-item">Article Title</h4>
                    <div class="flex-item textFile">This is text Title</div>
                    <div class="flex-item bottomLine">
                        <p>15 vote, 50 comments</p>
                        <ion-icon name="play-circle-outline"></ion-icon>
                        <div class="img">
                            <img src="../assets/Image/author.png">
                        </div>
                    </div>
                </div>
                <div class="article">
                    <h4 class="flex-item">Article Title</h4>
                    <div class="flex-item textFile">This is text Title</div>
                    <div class="flex-item bottomLine">
                        <p>15 vote, 50 comments</p>
                        <ion-icon name="play-circle-outline"></ion-icon>
                        <div class="img">
                            <img src="../assets/Image/author.png">
                        </div>
                    </div>
                </div>
                <div class="page">
                    <ion-button> &lsaquo; </ion-button>
                    <p> 100/100</p>
                    <ion-button> &rsaquo; </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>