<ion-header>
    <div class="header">
        <div class="topLeft" style="margin-bottom: 10px;">
            <div class="imageuser" [routerLink]="['/home-page']">
                <img src="../../assets/Image/sydney-opera-house.png" style=" width: 1rem;
                height: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);" />
            </div>
        </div>
        <div class="topRight ">
            <div class="icon ">
            </div>
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="top__menu" *ngIf="isMenuShown">
        <div *ngFor="let item of listCategory">
            <div (click)="getArticleByCate(item.id, 4)" class="listArticleByCate">
                {{item.name}}
                <ul *ngFor="let article of listArticleShowMenu">
                    <li (click)="navigateSpecificArticle(article.id)" *ngIf="article.cateID == item.id">{{article.title}}</li>
                    <li>
                        <a style="color: lightblue" *ngIf="article.cateID == item.id" (click)="moreArticle(item.id)">Xem thêm</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="article-title">
                <div class="article">
                    <div *ngFor="let item of exampleArrToDisplay ">
                        <div class="flex-item textFile">
                            <strong class="titleArticle">{{item.title}}</strong>
                            <div class="readMore" (click)="navigateSpecificArticle(item.id)">

                                <img src='https://img.icons8.com/dotty/80/000000/reading-ebook.png' style=" width: 30px; height: 25px; " />
                            </div>
                            <img src={{item.imageURLShow}} *ngIf="item.images.length " style=" width: 50%; height: 80%; position: absolute; z-index: 1; object-fit: contain; top: 10px; right: 0; " />
                        </div>
                        <div class="flex-item bottomLine ">
                            <p style="color: #FFFF">{{item.voted}} vote, {{item.numberComment}} comments</p>
                        </div>
                    </div>

                    <ion-infinite-scroll threshold="100px " (ionInfinite)="loadData($event) ">
                        <ion-infinite-scroll-content loadingSpinner="bubbles " loadingText="Loading more data... " position="top ">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </div>
            </div>
        </div>
    </div>
</ion-content>