*{
    margin: 0;
    padding: 0;
    font-family: "Kozuka Mincho Pro";
    height: auto;
}

*::-webkit-scrollbar,::-webkit-scrollbar{
    display: none;
}

ion-header {
    background: #48345aa6;

    .imageuser{
        width: 40px;
    height: 40px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
    text-align: center;
    position: relative;
     }
}

.container{
    height: 100%;
    overflow: scroll;
}

.menu {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
    .menuButton {
        width: 35%;
        height: 2px;
        position: relative;    
        background: #ffff;
        transform: translateY(-20px);
        
        &::after {
            content: '';
            position: absolute;
            bottom: 200%;
            width: 120%;
            height: 100%;
            background: inherit;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 400%;
            width: 150%;
            height: 100%;
            background: inherit;
        }
    }
}

.header{
    width: 100%;
}

.menu{
    float: left;
    height: 3rem;
    width: 30%;
    bottom: 0px;
}

.hr1{
    transform: translate(35px,60px);
    background-color: rgb(243, 232, 232);
    width: 35px;
    height: 3px;
}
.hr2{
    transform: translate(35px,60px);
    background-color: rgb(243, 231, 231);
    width: 25px;
    height: 3px;
    margin-top: 3px;
}
.hr3{
    transform: translate(35px,60px);
    background-color: rgb(243, 233, 233);
    width: 15px;
    height: 3px;
    margin-top: 3px;
}

// End header

.content{
    background-color: #48345A;
    height: auto;
    background:url('./../../assets/Image/Template@2x.png');
    background-size: cover;
    background-position: center center;    
    font-family: "Kozuka Mincho Pro";
}

.article-title{
    transform: translate(0px, 20px);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.article{
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: auto;
    flex-direction: column;
}

.article h4{
    color: #FFF;
    margin-top: 30px;
    margin-left: 45px;
}


.textFile{
    width: 90%;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px grey;
    margin-left: 5%;
    margin-top: 10px;
    position: relative;
    background: #26213e;
    color: #ffff;

    .titleArticle {
        width: 40%;
        position: absolute;
        font-size:14px;
        font-style: italic;
        bottom: 0;
        left: 1rem;
    }

    .readMore {
        position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
    background: #ffff;
    border-radius: 50%;
    }
}

.bottomLine{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.bottomLine p{
    width: 60%;
    text-align: center;
}
.bottomLine ion-icon{
    margin-left: 15px;
    width: 10%;

}
.img{
    margin-left: 5px;
    width: 20%;
    background-color: white;
    border-radius: 50%;
    border: solid 1px gray;
    box-shadow: 0 0 2px 1px grey;
}
.bottomLine img{
    width: 90%;
    height: 35px;
}

.page{
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.page p{
    margin-left: 5px;
}
.page ion-button{
    margin-left: 5px;
    --background: #54528A;
}