* {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Kozuka Mincho Pro";
}

ion-content {
    background: url("./../../assets/Image/Group\ 15@2x.png");

    .top__menu {
        position: absolute;
        background: #603c3c73;
        z-index: 100;
        padding: 1rem;
        left: 5%;
        top: 8%;
        color: #fff;
        border-radius: 10px;
        width: 90%;
    }
}

.container {
    background: #f6f2f1;
background: url('./../../assets/Image/background-image.jpg');
background-position: center center;
background-size: contain;

}

.menu {
    padding-top: 1.5rem;
    width: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 1rem;
    position: absolute;
    float: left;
  
    .menuButton {
        width: 11%;
        height: 2px;
        position: relative;
        background: #ffff;
        float: left;

        &::after {
            content: '';
            position: absolute;
            bottom: 200%;
            width: 120%;
            height: 100%;
            background: inherit;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 400%;
            width: 150%;
            height: 100%;
            background: inherit;
        }
    }
}

.header {
    position: relative;
    background-color: #48345A;
}
.topLeft 
{
    float: left;
    img {
        border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    }
    .icon {
        width: 30px;
        height: 30px;
        margin-left: 1rem;
        font-size: 8px;
        color: #FFFF;
    }
}
.nameUser {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFF;
    font-size: 12px;
    display: inline-block;
}
.topRight {
    float: right;
}

.topRight img {
    width: 2rem;
    float: right;
    transform: translateY(10px);
}
.hr1 {
    width: 4rem;
    height: 3px;
    background-color: white;
    margin-left: 1rem;
    margin-bottom: 3px;
}
.hr2 {
    width: 3rem;
    height: 3px;
    background-color: white;
    margin-left: 1rem;
    margin-bottom: 3px;
}
.hr3 {
    width: 2rem;
    height: 3px;
    background-color: white;
    margin-left: 1rem;
}
.threeRound {
    background-color: #48345A;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}
.threeRound img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.imgJS {
    position: relative;
    width: 75%;
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    background: #ffff;
    height: 250px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px 0px #9952525e;
}
.imgAuthor {
    width: 6rem;
    background-color: white;
    border-radius: 3rem;
    position: absolute;
    right: 2rem;
    bottom: -2rem;
    z-index: 5;
    box-shadow: 0 3px 6px 0px #9952525e;

    .nameOfFeatureArticle {
        position: absolute;
        right: 100%;
       bottom: 10%;
        width: 55vw;
        padding-left: 0rem;
        padding: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 2rem;
        border-radius: 10px;
        box-shadow: -4px 6px 8px 0px #b8848452;
    }
}
.forMore {
    margin-top: 1.5rem;
    margin-left: 6rem;
    text-align: right;
}
.aboutTech {
    background-color: #f6f2f1;
    padding-top: 4rem;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 25px;
        bottom: -24px;
        background: #f6f2f1;
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;  
    background-color: #595d7f;
    width: 80%;
    height: 30rem;
}

.contentOne {
    .featureArticleTitle {
        padding: 0.05rem 2rem;
        text-transform: uppercase;
        width: fit-content;
        background: #483939;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #b49b9b;
        box-shadow: 2px 2px 1px 0px #48345a4f;
        margin-bottom: 0px;
        margin-top: 2rem;
    }

    .notification__outer {
        width: 10%;
    float: right;
        .notification {
            font-size: 28px;
            margin-right: 5px;
        }
        
        .notiNumber {
            color: #FFFF;
            background: #bb5432;
            border-radius: 50%;
            position: absolute;
            /* bottom: 0; */
            right: 0;
            font-weight: bold;
            width: 1rem;
            height: 1rem;
            text-align: center;
            line-height: 1rem;
        }
        .notification__outer {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        
           
    }
}
}

.contentTwo {
    width: 80%;
    height: 31rem;
    background: #595d7f;
    /* margin: auto; */
    padding: 10px 0 10px 10px;
    border-top-left-radius: 50px;
    float: right;
    border-bottom-left-radius: 50px;
}


.contentTwoLeft img {
    position: absolute;
    z-index: 3;
    width: 3.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
    background-color: white;
}
.contentTwoLeft p {
    position: absolute;
    margin-top: 6rem;
    margin-left: 2.2rem;
    color: white;
}
.contentTwoRight {
    width: 90%;
    height: 9rem;
    background-color: white;
    margin: 10px 0;
    border-top-left-radius: 35px;
    float: right;
    border-bottom-left-radius: 10px;
    position: relative;
}
.contentTwoRight .logo {
    width: 11rem;
    height: 2.3rem;
}
.contentTwoRight p {
    margin-top: 2.5rem;
    margin-left: 1rem;
    color: #efefef;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 5px;
}
.contentTwoRight a {
    font-size: 0.7rem;
    color: #48345a;
    text-decoration: none;
text-align: right;
}

// content three
.contentThree {
    width: 80%;
    height: 31rem;
    background: #595d7f;
    padding: 10px 0 10px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


.contentThreeLeft img {
    position: absolute;
    z-index: 3;
    width: 3.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
    background-color: white;
}
.contentThreeLeft p {
    position: absolute;
    margin-top: 6rem;
    margin-left: 2.2rem;
    color: white;
}
.contentThreeRight {
    width: 90%;
    height: 9rem;
    background-color: white;
    margin: 10px 0;
    border-top-right-radius: 35px;
    float: left;
    border-bottom-right-radius: 10px;
    position: relative;
}
.contentThreeRight .logo {
    width: 11rem;
    height: 2.3rem;
}
.contentThreeRight p {
    margin-top: 2.5rem;
    margin-left: 1rem;
    color: #efefef;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 5px;
}
.contentThreeRight a {
    font-size: 0.7rem;
    color: #48345a;
    text-decoration: none;
text-align: right;
}

.footer {
    padding-top: 2rem;
    background-color: #f6f2f1;
}
.footer p {
    text-align: center;
    color: #48345a;
}
ion-grid {
    margin-top: 2rem;
    color: #48345a;
    text-align: center;
}
