<ion-header>

</ion-header>

<div class="header">
    <div class="topLeft">
        <img src="../../assets/Image/author.png">
    </div>
    <div class="nameUser">
        Robert
    </div>
    <div class="topRight">
        <img src="../../assets/Image/logo_js_2.png">
    </div>
</div>


<ion-content>
    <div class="container">
        <div class="menu">
            <div class="hr1"></div>
            <div class="hr2"></div>
            <div class="hr3"></div>
        </div>
        <div class="threeRound">
            <img src="../../assets/Image/icon1.PNG" style="margin-left: 8rem;">
            <img src="../../assets/Image/icon2.PNG" style="margin-left: 1rem;">
            <img src="../../assets/Image/icon3.PNG" style="margin-left: 1rem;">
        </div>
        <div class="contentOne" style="background-color: #F6F2F1;">
            <div class="imgAuthor">
                <img src="../../assets/Image/author.png">
            </div>
            <div class="imgJS">
                <img src="../../assets/Image/js.PNG">
            </div>
            <div class="forMore">
                <a href="#">For more ...</a>
            </div>
        </div>

        <div class="aboutTech">
            <h4 style="color:#595D7F;float: left;margin-left: 0.5rem;">ABOUT </h4>
            <h4 style="color: #f542ec;padding-left: 5.5rem;">TECH</h4>
        </div>

        <div style="background-color: #F6F2F1;">
            <div class="contentTwo">
                <div class="contentTwoLeft">
                    <img src="../../assets/Image/author.png">
                    <p>Robert</p>
                </div>
                <div class="contentTwoLeft">
                    <img src="../../assets/Image/author.png" style="margin-top:13rem">
                    <p style="margin-top:17rem">Robert</p>
                </div>
                <div class="contentTwoLeft">
                    <img src="../../assets/Image/author.png" style="margin-top:23.5rem">
                    <p style="margin-top:27.5rem">Robert</p>
                </div>

                <div class="contentTwoRight">
                    <div class="logo" style="margin-left: 7rem;">
                        <img src="../../assets/Image/voteicon.jpg" style="width:1.5rem;">
                        <img src="../../assets/Image/commenticon.jpg" style="width:2rem;">
                    </div>
                    <p>Title</p>
                    <a href="#" style="margin-left:6.5rem;">Read more...</a>
                </div>
                <div class="contentTwoRight" style="margin-top:11.5rem;margin-left: 8rem;">
                    <div class="logo" style="margin-left: 6rem;">
                        <img src="../../assets/Image/voteicon.jpg" style="width:1.5rem;">
                        <img src="../../assets/Image/commenticon.jpg" style="width:2rem;">
                    </div>
                    <p>Title</p>
                    <a href="#" style="margin-left:5.5rem;">Read more...</a>
                </div>
                <div class="contentTwoRight" style="margin-top:22rem;">
                    <div class="logo" style="margin-left: 7rem;">
                        <img src="../../assets/Image/voteicon.jpg" style="width:1.5rem;">
                        <img src="../../assets/Image/commenticon.jpg" style="width:2rem;">
                    </div>
                    <p>Title</p>
                    <a href="#" style="margin-left:6.5rem;">Read more...</a>
                </div>

            </div>
            <div class="forMore">
                <a href="#">For more ...</a>
            </div>
        </div>

        <div class="lifeAndCoding">
            <div style="color:#595D7F;float: left;margin-left:0.5rem;">LIFE</div>
            <div style="color: #f542ec;padding-left: 5.5rem;">AND CODING</div>
        </div>

        <div style="background-color:#F6F2F1;">
            <div class="contentThreeLeft">
                <img src="../../assets/Image/author.png">
                <p>Robert</p>
            </div>
            <div class="contentThreeLeft" style="margin-top:11rem">
                <img src="../../assets/Image/author.png">
                <p>Robert</p>
            </div>
            <div class="contentThreeLeft" style="margin-top:22rem">
                <img src="../../assets/Image/author.png">
                <p>Robert</p>
            </div>
            <div class="contentThree">
                <div class="contentThreeRight" style="margin-left: 2.5rem;">
                    <div class="logo" style="margin-left: 5.5rem;">
                        <img src="../../assets/Image/voteicon.jpg" style="width:1.5rem;">
                        <img src="../../assets/Image/commenticon.jpg" style="width:2rem;">
                    </div>
                    <p>Title</p>
                    <a href="#" style="margin-left:5rem;">Read more...</a>
                </div>
                <div class="contentThreeRight" style="margin-top:11.5rem;">
                    <div class="logo" style="margin-left: 6.5rem;">
                        <img src="../../assets/Image/voteicon.jpg" style="width:1.5rem;">
                        <img src="../../assets/Image/commenticon.jpg" style="width:2rem;">
                    </div>
                    <p>Title</p>
                    <a href="#" style="margin-left:6rem;">Read more...</a>
                </div>
                <div class="contentThreeRight" style="margin-top:22.2rem;margin-left: 2.5rem;">
                    <div class="logo" style="margin-left: 5.5rem;">
                        <img src="../../assets/Image/voteicon.jpg" style="width:1.5rem;">
                        <img src="../../assets/Image/commenticon.jpg" style="width:2rem;">
                    </div>
                    <p>Title</p>
                    <a href="#" style="margin-left:5rem;">Read more...</a>
                </div>
            </div>
            <div class="forMore">
                <a href="#">For more ...</a>
            </div>
        </div>

        <div class="footer">
            <p>Most popular tags</p>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        Technology
                    </ion-col>
                    <ion-col size="6">
                        Technology
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        Technology
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        Technology
                    </ion-col>
                    <ion-col size="6">
                        Technology
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        Technology
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>