<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p [routerLink]="['/signin']">Sign in</p>
  <p [routerLink]="['/signup']">Sign up</p>
  <p [routerLink]="['/user-normal']">user-normal</p>
  <p [routerLink]="['/admin']"> Admin </p>
  <p [routerLink]="['/user-author']">User-Author</p>
  <p [routerLink]="['/list-article']">List Article</p>
  <p [routerLink]="['/add-new-article']">Add-New-Article</p>
  <p [routerLink]="['/article']">Article</p>


</ion-content>
